@use "./modal_content/modal-content.scss";

.ip-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  pointer-events: visible;
  overflow: hidden;
}

.ip-modal:not(.show) {
  opacity: 0;
  pointer-events: none;

  .ip-modal-content {
    transform: translateY(-200px);
  }
}
