@use "../../variables";
@use "../../common/btn/btn-primary.scss";

.ip-input-group {
  display: flex;
  align-items: stretch;
}

.ip-input {
  flex-grow: 1;
  min-height: variables.$ip-input-min-height;
  padding: variables.$ip-input-padding;
  color: variables.$ip-input-color;
  font-size: 15px;
  border: 1px solid variables.$ip-input-border-color;
  border-radius: variables.$ip-input-border-radius;
}

.ip-input-btn {
  min-height: variables.$ip-input-button-min-height;
  border-radius: variables.$ip-input-button-border-radius;
  border-radius: 0 6px 6px 0;
}

// .ip-input-group-label {
//   position: relative;
// }

// .ip-input-label {
//   position: absolute;
//   font-size: 15px;
//   left: variables.$ip-input-padding-x;
//   line-height: variables.$ip-input-min-height;
//   color: #ccc;
// }

// .ip-input--text:focus ~ .ip-input-label,
// .ip-input--text:placeholder-shown ~ .ip-input-label {
//   color: variables.$ip-input-border-color;
//   font-size: 14px;
//   transform: translateY(calc(variables.$ip-input-padding-y * 2 * -1));
//   transition: 0.2s ease-in-out all;
// }
