@use "./modal-header.scss";
@use "./modal-body.scss";
@use "./modal-footer.scss";
@use "../../../variables.scss";

$padding: 10px;

.ip-modal-content {
  transform: translateY(0);
  max-width: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  width: 900px;
}

.ip-modal-header,
.ip-modal-body,
.ip-modal-footer {
  padding: $padding;
}
