@use "../../../variables.scss";

$close-button-size: 25px;

.ip-modal-title {
  margin: 0;
}

.ip-modal-header {
  border-bottom: variables.$modal-line-border;
}

.ip-modal-header {
  display: flex;
  align-items: center;

  .ip-modal-header-title {
    flex-grow: 1;
  }
}

.ip-header-close-btn {
  height: $close-button-size;
  opacity: 0.3;
  position: relative;
  width: $close-button-size;
}
.ip-header-close-btn:hover {
  opacity: 1;
}
.ip-header-close-btn:before,
.ip-header-close-btn:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: $close-button-size;
  width: 2px;
  background-color: #333;
}

.ip-header-close-btn:before {
  transform: rotate(45deg);
}

.ip-header-close-btn:after {
  transform: rotate(-45deg);
}
